body{
  height: 90vh;
  width: 95vw;
}

pre{
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  text-wrap: wrap;
}

img{
  height: 30%;
  width: 95%;
}

table,tr,td,th{
  height: auto;
  width: auto;    
  border: 1px solid black;
  text-align: center;
}

#main{
  text-align: center;
  font-size: 4rem;
}

.chap{
  text-align: center;
}

a{
  text-decoration: none;
  color: black;
}
